@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./libs/fonts.scss";
@import "./libs/animations.scss";
@import "./libs/breakpoints.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: unset;
  list-style-type: none;
  text-decoration: none;
  cursor: none;
  font-family: "Roca";
}

html {
  width: 100vw;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

canvas {
  width: 100vw;
  height: 100vh;
}

iframe {
  width: 1024px;
  height: 670px;
  border: 0;
  background: white;
  z-index: 10;
}

.remove-scroll {
  overflow: hidden !important;
}

.eyes-confort {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background: #dbc09e;
  opacity: 0.1;
  z-index: 999;
  display: none;
}

// Loading

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 999;

  img {
    width: 50%;
    max-width: 300px;
    animation: loaderAnimation infinite 3s ease-in-out;
  }
}

// Curseur

.cursor {
  width: 20px;
  height: 20px;
  border: 3px solid black;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: width, height, background-color, border-color;
  transform-origin: center;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

// Navbar

.nav-classic {
  width: 100vw;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 995;
  transition: all 0.3s ease-in-out;

  @media only screen and (max-width: 768px) {
    padding: 20px 15px 20px 40px;
  }

  &-scroll {
    backdrop-filter: blur(15px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #ffff, $alpha: 0.6);
      display: block;
      z-index: -1;
    }
  }
}

.close {
  z-index: 100;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 100%;
    height: 2px;
    background-color: white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    width: 100%;
    height: 2px;
    background-color: white;
  }
}

.close-black {
  z-index: 400;
  pointer-events: all;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 100%;
    height: 2px;
    background-color: black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    width: 100%;
    height: 2px;
    background-color: black;
  }
}

.next {
  z-index: 100;
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  border: 0;
  outline: 0;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);

  @media only screen and (max-width: 768px) {
    right: 30px;
    width: 30px;
    height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 60%;
    height: 2px;
    background-color: white;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    width: 60%;
    height: 2px;
    background-color: white;
  }
}

.prev {
  z-index: 100;
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  border: 0;
  outline: 0;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);

  @media only screen and (max-width: 768px) {
    left: 30px;
    width: 30px;
    height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    width: 60%;
    height: 2px;
    background-color: white;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 60%;
    height: 2px;
    background-color: white;
  }
}

.nav-classic-image {
  width: 50px;
}

.dynamique-island {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 50px;
  border: 1px solid black;
  border-radius: 50px;
  background: white;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.normal-nav {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;

  @media only screen and (max-width: 768px) {
    padding: 0px;
  }

  .nav-classic-image {
    width: 50px;
    height: 50px;
    display: block;
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
    }
  }

  .nav-classic-onglet-container {
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
}

.nav-classic-onglet-container {
  display: flex;
  gap: 100px;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    padding: 30px;
    transform: translateX(150%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    z-index: 999;
    justify-content: center;
    transition: transform 0.5s ease-in-out;

    &-open {
      transform: translateX(0%) !important;
    }
  }
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
  }
}

.nav-classic-onglet {
  position: relative;
}

.nav-classic-onglet::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background: black;
  transition: width 0.3s ease-in-out;
}

.nav-classic-onglet:hover::after {
  width: 50%;
}

.nav-classic-button {
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  background: white;
}

.nav-classic-button:hover {
  background-color: black;
  color: white;
}

// Home Page

// // Header

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100vw;
  height: 100vh;
  scale: 4;
  animation: headerBackground 2s forwards;
  animation-delay: 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.titre {
  position: relative;
  font-size: 10rem;
  font-family: "Sego";
  padding-bottom: 50px;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
}

.titre span {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  right: 30px;
  bottom: -50px;
  font-family: "Roca";
  animation: animationMarineName 0.3s forwards;
  animation-delay: 0.5s;

  @media only screen and (max-width: 768px) {
    right: 0;
  }
}

.scroll-down {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 200%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 0;
  animation: scrollEnter 1s forwards;
  animation-delay: 1.5s;

  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 50%;
    right: 0;
    top: 0px;
    transform: rotate(45deg) translateY(90%);
    background: black;
    animation: scrollHeaderAnimation 3s infinite ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 50%;
    left: 0;
    top: 0;
    transform: rotate(135deg) translateY(-90%);
    background: black;
    animation: scrollHeaderAnimation 3s infinite ease-in-out;
  }
}

// // Competances

#competences {
  width: 105%;
  padding: 30px 0;
  position: relative;
  background: black;
  margin-bottom: 50px;
  transform: rotate(-2deg) translateX(-10px);
  overflow: hidden;

  .competences-homepage-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding-left: 150px;
    width: max-content;
    animation: autoSlideAnimation infinite 20s linear;

    @media only screen and (max-width: 768px) {
      padding: 0 10px 0 35px;
      gap: 25px;
    }
  }

  .competences-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 70px;

    img {
      border-radius: 20px;
      width: 100%;
    }

    span {
      font-size: 0.9rem;
      opacity: 0;
      color: white;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover span {
      opacity: 1;
    }
  }
}

// // Projets

.projets {
  position: sticky;
  top: 150px;
  height: 90vh;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    top: 110px;
  }
}

.scroll-projets {
  position: absolute;
  top: 0;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;

  @media only screen and (max-width: 768px) {
    gap: 200px;
  }

  .projet {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    div {
      width: 350px;
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      position: relative;

      @media only screen and (max-width: 768px) {
        width: 300px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 90%;
        background: black;
        top: 0;
        right: -5px;
      }
    }

    span {
      font-size: 1.3rem;
      display: flex;
      gap: 10px;
      align-items: center;

      .barre {
        display: block;
        width: 0;
        position: relative;
        top: 2px;
        height: 2px;
        background: black;
        transition: width 0.5s ease-in-out;
      }
    }

    &:hover .barre {
      width: 50px;
    }
  }
}

// // Footer

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15vw;
  gap: 20px;
  padding-right: 15vw;
  padding-bottom: 10px;

  .links-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 15vw;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .link-footer-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      .name-link-categorie {
        font-family: "Sego";
        font-size: 1.4rem;
        padding-bottom: 5px;
      }

      .link-footer {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 1px;
          background: black;
          bottom: 0;
          left: 0;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 50%;
        }
      }
    }
  }

  .social-container {
    display: flex;
    gap: 30px;

    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    .image-container-footer {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: flex-end;

      img {
        width: 100%;
      }

      svg {
        height: 70%;
        margin-top: auto;
      }
    }
  }

  .website-information {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.5);

    p {
      color: rgba($color: #000000, $alpha: 0.5);
      font-size: 0.7rem;
      text-align: center;
    }
  }
}

// Categories page

.projects-page-section {
  .projects-page-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;

    .project-container {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #000000;
        opacity: 0.7;
        top: 0;
        left: 0;
      }

      .categorie-name {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4rem;
        transform: translate(-50%, -50%);
        color: white;

        @media only screen and (max-width: 768px) {
          font-size: 2rem;
          top: 44.8%;
        }
      }

      .projects-show-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 400%;
        animation: scrollProjet1 15s linear infinite;

        .projet-image-container {
          width: 768px;
          height: 300px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        &:nth-child(even) {
          animation: scrollProjet2 15s linear infinite;
        }
      }
    }
  }

  .slider-projets-section {
    .close-projets-slider {
      animation: closeApparition 1s forwards;
      position: fixed;
      width: 50px;
      height: 50px;
      top: 50px;
      right: 50px;
      z-index: 400;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 100%;
        height: 2px;
        background-color: black;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(135deg);
        width: 100%;
        height: 2px;
        background-color: black;
      }
    }
  }
}

/* Projet section page Projets */

.projet-page-container {
  pointer-events: none;
  padding: 10px;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid: auto / 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .projet-page-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    img {
      width: 65%;
      pointer-events: all;
    }
  }

  .projet-page-texte {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 768px) {
      position: relative;
    }
  }
}

// Dashboard

.dashboard-page {
  width: 100vw;
  padding: 20px;
  overflow-x: hidden;

  .all-content-container {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .categorie-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
    }

    .categorie-information,
    .projet-information {
      display: flex;
      align-items: center;
      gap: 10px;

      h2,
      h3 {
        margin-right: 20px;
      }
    }

    .caroussel-container {
      width: 100vw;
      padding-bottom: 35px;
      overflow-x: auto !important;
    }

    .categorie-content-container {
      display: flex;
      gap: 100px;

      .projet-container {
        height: fit-content;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .projet-image {
          width: 50%;
        }
      }
    }
  }
}

// Modification projet / Categories

.new-projet-container,
.new-category-container,
.update-projet-container,
.update-category-container,
.verif-remove {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 30vw;
  gap: 40px;

  input[type="text"] {
    padding: 7px;
    border: 1px solid black;
    outline: 0;
    border-radius: 10px;
    width: 70%;
  }

  .send {
    width: 50%;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;

    &:hover {
      background: black;
      color: white;
    }
  }
}

.projet-container {
  position: relative;

  .updateButton {
    position: absolute;
    bottom: -35px;
    left: 5px;
  }

  .remove {
    position: absolute;
    bottom: -35px;
    left: 50px;
  }
}

.new {
  padding: 7px 10px 5px 12px;
  border: 0;
  font-size: 1rem;
  background: transparent;
  color: #229b22;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  font-weight: bold;

  &:hover {
    background: #229b22;
    color: white;
  }
}

.updateButton {
  padding: 7px 10px 5px 12px;
  border: 0;
  font-size: 1rem;
  background: transparent;
  color: #489dc8;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  font-weight: bold;

  &:hover {
    background: #489dc8;
    color: white;
  }
}

.remove {
  padding: 7px 10px 5px 12px;
  border: 0;
  font-size: 1rem;
  background: transparent;
  color: red;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  font-weight: bold;

  &:hover {
    background: red;
    color: white;
  }
}

// // Popup

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50vw;
  z-index: 100;
  padding: 20px;
  transition: opacity 0.3s;
  border-radius: 20px;

  .information {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}

// // Password

.password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;

  input[type="password"] {
    padding: 7px;
    border: 1px solid black;
    outline: 0;
    border-radius: 10px;
    width: 40%;
    font-size: 1rem;
  }

  .send {
    width: 20%;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;

    &:hover {
      background: black;
      color: white;
    }
  }
}

// // About

.about-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  .about-header-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    h1 {
      font-size: 2rem;
    }

    p {
      width: 500px;
      font-size: 0.85rem;
    }
  }

  img {
    width: 300px;
    border-radius: 50%;
  }
}

.about-job-container {
  height: 100px;
  display: flex;
  align-items: center;
  background: black;
  color: white;
  width: 105%;
  overflow: hidden;
  transform: rotate(-2deg) translateX(-10px);

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    animation: autoSlideAnimation infinite 20s linear;
    gap: 100px;
    padding-left: 100px;

    p {
      font-size: 3rem;
    }
  }
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/wallpaper.jpg");
  background-size: cover;
  cursor: none !important;
  opacity: 0.9;

  .login-container {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: all 0.3s;
    flex-direction: column;
    gap: 30px;

    .input-container {
      transition: all 0.5s;
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: rgba($color: #fff, $alpha: 0.3);
        border: 2px solid white;
        border-radius: 10px;
        transform: translateX(-60px);
        opacity: 0;
        transition: all 0.5s;
      }

      .button-active {
        animation: buttonClick 0.3s linear;
      }
    }

    input {
      border: 2px solid white;
      background: rgba($color: #fff, $alpha: 0.3);
      font-size: 0.8rem;
      border-radius: 10px;
      outline: none;
      padding: 5px 10px;
      transition: all 0.5s;
      margin-left: 40px;
    }

    .user {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      transition: all 0.2s;

      div {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        background-image: url("/assets/user.png");
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        background-color: "#F0C7E9";
      }

      p {
        text-align: center;
        font-family: "Inter", sans-serif;
      }
    }
  }

  .ui {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }
}
